<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>社員情報編集(タグ)</h1>
	変更する社員の名前を入力して、タグを選択してください。
	<form action="/admin/staff_info_edit/result">
		<table>
			<tr>
				<th>名前</th>
				<td><input type="text" name="name"></td>
			</tr>
			<tr>
				<th>タグ</th>
				<td>
					<select name="tag">					
						<option th:each="option : ${tagOptions}" th:value="${option.key}" th:text="${option.value}"></option>
					</select>
				</td>
			</tr>
		</table>
		<input type="submit" value="登録">
		<p th:text="${message}" style="color: red; font-size: 20px;"></p>		
		<p th:text="${message1}"></p>
	</form>
</body>
</html>