<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/css/main/workingResult.css}">
<style>
  th, td, button {
    text-align: center;
  }
  table {
      margin: 0 auto;
	  width: 60%;
	  margin-bottom: 20px;	  
	  text-align: center;
    }
	button {
		text-align: center;
		  top: 50%;
		  left: 50%;
		  transform: translate(-50%, -50%);
		  bottom: -20px;
	    }

</style>
<title>Insert title here</title>
</head>
<body>
	<table border="1">
	     <thead>
	         <tr>
	             <th class="emphasis_design29">出勤者一覧</th>
	         </tr>
	     </thead>
	     <tbody>
			<ul><li th:each="item : ${list}" th:text="${item}"></li><tr th:each="user, index : ${users}"><ul>
				
	             <td th:text="${user}"></td>
				 
	         </tr>
	     </tbody>
	 </table>	 
	 <button ref="#" class="border_btn03" type="button" onclick="location.href='/main'">戻る</button>
</body>
</html>