/* main.css */

body 
{
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-color: rgb(230, 230, 230);
}

h1 
{
	text-align: center;
	margin-top: 20px;
	color: rgb(50, 50, 50);
}


.box
{
	width: 488px;
  	height: 380px;
  	margin-left: auto;
  	margin-right: auto;
  	background: rgb(128, 255, 255);
}

h2
{
	text-align: center;
	font-size: xx-large;
	color: rgb(50, 50, 50);
}

.subBox
{
	width: 480px;
  	height: 300px;
  	margin-left: auto;
  	margin-right: auto;
  	background: rgb(255, 255, 255);
  	overflow-y: scroll;
}

ul 
{
	list-style: none;
}
 
li
{
	font-size: large;
	line-height: 40px;
	color: rgb(50, 50, 50);
}