/* main.css */

body 
{
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-color: rgb(240, 240, 240);
}

h1 
{
	text-align: center;
	margin-top: 20px;
	font-size:30px;
	color: rgb(50, 50, 50);
}


.box
{
	width: 60%;
	max-width: 600px;
	/* 例として600pxに制限 */
	margin: 10px auto;
	background-color: rgb(255, 255, 255);
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2
{
	text-align: center;
	font-size: 30px;
	color: rgb(50, 50, 50);
}

.subBox
{
	width: 100%;
	max-height: 400px;
  	margin: 10px auto;
  	border-radius: 4px;
  	background: rgb(230, 255, 255);
  	white-space: nowrap;
  	overflow-x: scroll;
  	overflow-y: scroll;
}

li
{
	list-style: none;
	font-size: 20px;
	line-height: 40px;
	color: rgb(50, 50, 50);
}

.back
{
	width: 50px;
  	height: 50px;
  	border-radius: 50px;
  	background-color: rgb(255, 255, 255);
  	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  	font-size: 30px;
  	color: rgb(50, 50, 50);
  	text-align: center;
  	line-height: 50px;
  	cursor: pointer;
}
.back:hover
{
	background-color: rgb(230, 230, 230);
}