/* main.css */

body {
	font-family: "Kosugi Maru", sans-serif;
	font-weight: 400;
	font-style: normal;
	margin: 0;
	padding: 0;
	background-color: #f0f0f0;
}

h2 {
	text-align: center;
	margin-top: 20px;
	font-size: 40px;
	color: #333;
}

.datetime {
	font-family: "Kosugi Maru", sans-serif;
	text-align: center;
	font-size: 33px;
	margin: 10px;
}

.main {
	width: 60%;
	max-width: 650px;
	/* 例として600pxに制限 */
	margin: 20px auto;
	background-color: #fff;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


input[type="text"],
input[type="password"],
button {
	font-family: "Kosugi Maru", sans-serif;
	width: 100%;
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid rgb(0, 0, 0);
	border-radius: 5px;
	box-sizing: border-box;
	font-size: 30px;
}

button {
	background-color: #3FA8EE;
	border: 1px solid rgb(0, 0, 0);
	cursor: pointer;
	color: rgb(255, 255, 255);
	-webkit-text-stroke: 1px rgb(255, 255, 255);
}

button:hover {
	background-color: rgb(17, 126, 200);
}

/*退勤ボタンの通常色*/
.endbtn {
	background-color: #EE813F;
}

/*退勤ボタンのマウスON色*/
.endbtn:hover {
	background-color: rgb(218, 95, 20);
}

/*ログボタンの通常色*/
.logbtn,
.wbtn {
	background-color: #BEEE3F;
}

/*ログボタンのマウスON色*/
.logbtn:hover,
.wbtn:hover {
	background-color: rgb(149, 199, 18);
}

/*menuボタンの通常色*/
.menu {
	background-color: #EE5E3F;
}

/*menuボタンのマウスON色*/
.menu:hover {
	background-color: rgb(218, 55, 20);
}

p {
	text-align: center;
}

.