@charset "UTF-8";

body{
	background-color: rgb(240, 240, 240);
}

.txt_anime {
  width: 70%;
  height: 70px;
  line-height:50px;
  overflow: hidden;
  background-color: rgb(240, 240, 240);
}

.txt_anime p {
  animation: animetxt 5s linear infinite;
  transform: translateX(100%);
  font-size: 20px;
  color: crimson;
}

@keyframes animetxt {
100% {
  transform: translateX(-100%);
 }
}


.txt_anime_2 {
  width: 70%;
  height: 70px;
  line-height:50px;
  overflow: hidden;
  background-color: rgb(240, 240, 240);
}

.txt_anime_2 p {
  animation: animetxt 15s linear infinite;
  transform: translateX(100%);
  font-size: 20px;
  color: crimson;
}

@keyframes animetxt_2 {
100% {
  transform: translateX(-100%);
 }
}


.txt_anime_3 {
  width: 100%;
  height: 100px;
  line-height:100px;
  overflow: hidden;
  background-color:white;
}

.txt_anime_3 p {
  animation: animetxt 10s linear infinite;
  transform: translateX(100%);
  font-size: 20px;
  color: crimson;
}

@keyframes animetxt_3 {
100% {
  transform: translateX(-100%);
 }
}


.txt_anime_4 {
  width: 100%;
  height: 100px;
  line-height:100px;
  overflow: hidden;
  background-color:white;
}

.txt_anime_4 p {
  animation: animetxt 3s linear infinite;
  transform: translateX(100%);
  font-size: 20px;
  color: crimson;
}

@keyframes animetxt_4 {
100% {
  transform: translateX(-100%);
 }
}




.emphasis_design28 {
  color: #454545;
  text-shadow: 3px 3px #c0c0c0;
}

.box
{
	width: 60%;
	max-width: 600px;
	/* 例として600pxに制限 */
	margin: 10px auto;
	background-color: rgb(255, 255, 255);
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.border_btn02 {
  display: inline-block;
  width: 100%;
  max-width: 350px; /* ボタン幅 */
  position: relative;
  color: #45B173; /* 文字色 */
  padding: 1em 2em;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  transition: 0.3s;
}

.border_btn02::before,
.border_btn02::after {
  position: absolute;
  width: 100%;
  height: 2px; /* 線幅 */
  content: '';
  -webkit-transition: all .3s;
  transition: all .3s;
  background: #45B173; /* 線色 */
}

.border_btn02::before {
  top: 0;
  left: 0;
}

.border_btn02::after {
  right: 0;
  bottom: 0;
}

/* マウスオーバーした際のデザイン */
.border_btn02:hover:before,
.border_btn02:hover:after {
  width: 0;
}



.border_btn03 {
  display: inline-block;
  width: 100%;
  max-width: 350px; /* ボタン幅 */
  position: relative;
  color: #45B173; /* 文字色 */
  padding: 1em 2em;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  transition: 0.3s;
}

.border_btn03::before,
.border_btn03::after {
  position: absolute;
  width: 100%;
  height: 2px; /* 線幅 */
  content: '';
  -webkit-transition: all .3s;
  transition: all .3s;
  background: #45B173; /* 線色 */
}

.border_btn03::before {
  top: 0;
  left: 0;
}

.border_btn03::after {
  right: 0;
  bottom: 0;
}

/* マウスオーバーした際のデザイン */
.border_btn03:hover:before,
.border_btn03:hover:after {
  width: 0;
}

